.S2{
    width: 90%;
    display: grid;
    grid-template-rows: auto auto;
    font-family: "Montserrat Regular";
    color: #686868;
}

.Structure{
    font-family: "Montserrat ExtraBold";
    text-align: center;
}
.Title{
    font-family: "Montserrat ExtraBold";
}