.S3{
    width: 90%;
    /*border: 1px solid red;*/
    display: grid;
    /*grid-template-rows: auto 1fr 1fr 1fr 1fr 1fr 1fr;*/
}
.Title{
    font-family: "Montserrat ExtraBold";
    text-align: center;
    color: #686868;
    /*font-size: ;*/
}

.Ref{
    height: 90%;
    /*border: 1px solid red;*/
    display: grid;
    align-items: center;
    justify-items: start;
    grid-template-columns: 5% 95%;
    /*width: 10%;*/
    background-color: #eeeeee;
    border-radius: 5px;
    margin-bottom: 1%;
}
.LinkImg{
    margin-left: 1vw;
}
.PreTitle{
    color: #686868;
    font-family: "Montserrat ExtraBold";
    /*margin-bottom: 2%;*/
}
.Text{
    color: #686868;
    font-family: "Montserrat Regular";
}