.Ministerstvo{
    /*border: 1px solid blue;*/
    /*height: 50px;*/
    display: grid;
    grid-template-columns: auto auto;
    align-content: center;
    justify-items: center;
    background-color: #2C2C2C;
}


.MinNauki, .MinProsv{
    /*border: 1px solid red;*/
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    justify-items: center;
    font-size: 0.4vw;
    /*width: 90%;*/
    color: #c0c0c0;
    font-family: "Montserrat Regular";

}

.Prosv{
    width: 80%;
}
.Nauki{
    width: 60%;
}