.Ministerstvo{
    /*border: 1px solid blue;*/
    /*height: 50px;*/
    display: grid;
    grid-template-columns: auto auto;
    align-content: center;
    justify-items: center;
}

.MinNauki, .MinProsv, img{
    width: 60%;
}
.MinNauki, .MinProsv{
    display: grid;
    grid-template-columns: auto auto;
    font-size: 0.4vw;
    width: 90%;
    color: #c0c0c0;
    font-family: "Montserrat Regular";

}
.MinNauki{
    /*border: 1px solid red;*/
}
.MinProsv{
    /*border: 1px solid red;*/
}

/*.Ministerstvo div{*/
/*    width: 50%;*/
/*}*/