.S4{
    width: 90%;
    display: grid;
    /*grid-template-rows: auto auto;*/
    font-family: "Montserrat Regular";
    /*color: #686868;*/
    /*border: 1px solid red;*/
    /*padding: 5%;*/
    /*width: 98.5%;*/
    /*height: 79vh;*/
    overflow-y: auto;
    overflow-x: hidden;
    /*border: 1px solid green;*/
    /*align-items: center;*/
    /*justify-items: center;*/
    /*box-shadow: 0 4px 17px 1px #d9d9d9;*/
    /*border-radius: 5px;*/
    /*overflow: hidden;*/
    text-overflow: ellipsis;
    color: #686868;
}
.S4::-webkit-scrollbar {
    width: 0;
}
/*.S4::-webkit-scrollbar-track {*/
/*    background-color: #4d4d4d;*/
/*    border-radius: 5px;*/
/*}*/
/*.S4::-webkit-scrollbar-thumb {*/
/*    border-radius: 10px;*/
/*    background: #FECF00;*/
/*}*/
.S4 h4{
    font-family: "Montserrat ExtraBold";
    text-align: center;
}